//colors
$black: #1C1C1C;
$white: #FFFFFF;
$dark-white: #F7F7F7;
$light-white: #E5E5E5;
$blue: #007BFF;
$black-gray: #323232;
$dark-gray: #545454;
$middle-gray: #7B7B7B;
$ligner-gray: #969696;
$light-gray: #E4E4E4;
$dark-red: #E10000;

