$black: #000000;
$white: #FFFFFF;
$blue-deep: #161926;
$blue: #689FF2;
$gray-dark: #515773;
$middle-gray: #E4E4E4;
$light-white: #E5E5E5;
$middle-dark: #262A3F;
$green: #02E0AB;
$middle-green: #53F3CD;
$light-green: #85BBB1;
$orange-dark: #E64F3A;
$orange: #E54F3A;
$light-orange: #F1897B;
$input-white-theme: rgb(38, 42, 63, 0.1);
$menu-item-black-theme: linear-gradient(96.73deg, #53F3CD 6.73%, rgba(83, 243, 205, 0) 116.9%);