
.promises {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1170px;
    margin-top: 150px;

    &__picture__img {
        width: 100%;
    }

    &__list {
        position: absolute;
        left: 34.1%;
        display: flex;
        max-width: 770px;
        padding: 6.717% 0 6.717% 6.269%;

        background-color: $white;
        opacity: 0.9;
    }

    &__list-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 70px 100px;
        max-width: 700px;   
    }

    &__list-description {
        max-width: 300px;
    }

    &__list-text {
        @include font-promises-title;
    }
    
    &__list-subtext {
        @include font-statistic-text;
    }

    &__list-link {
        display: flex;
        align-items: center;
    }

    &__link{
        display: inline-block;
        width: 100%;
        padding: 11.044% 0;
        border: 1px solid $middle-gray;
        text-align: center;
        // position: relative;
        // transition: .3s linear;
        
        // &::after {
        //     position: absolute;
        //     content: '';
        //     height: 13px;
        //     top: 38px;
        //     left: 80px;
        //     right: 70px;
        //     background-color: $light-orange;
        //     opacity: 0.3;  
        //     transition: .3s linear;
        // }
    
        // &:hover {
        //     color: $orange;
        // }
        // &:hover::after {
        //     background-color: $orange;
        // }
    }

    @media screen and (max-width: 1024px) {
        &{
            margin-top: 80px;
        }

        &__list-wrapper{
            gap: 25px 50px;
        }
    }

    @media screen and (max-width: 1024px) {

        &__list{
            left: 20%;
        }
    }

    @media screen and (max-width: 700px) {

        &__list{
            left: 0;
            padding-right: 6.71%;
        }
    }
    @media screen and (max-width: 480px) {

        &__list-text{
            line-height: 36px;
            margin-bottom: 10px;
        }

        &__list-subtext{
            line-height: 22px;
        }

        &__list-wrapper{
            display: block;
            margin: 0 auto;
            gap: 15px;
        }

        &__list {
            padding: 0;
        }

        &__list-description {
            margin-bottom: 15px;
            max-width: 100%;
        }

        &__list-link {
            margin: 0 auto;
            max-width: 143px;
            padding: 5%;
            width: 100%;
        }
    }
}