*,
::before,
::after,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

//colors
$golden: #FFCC00;
$gray: #CCCCCC;
$light-gray: #898F8F;
$midle-gray: #666666;
$dark-gray: #333333;

@mixin display-flex-center-all-colum {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin display-flex-center-all-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin display-flex-center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    font-size: 10px;
    line-height: 10px;
    color: $midle-gray;
}

body {
    font-family: "Raleway", sans-serif;
}

.main__our-team {
    max-width: 1170px;
    margin: 121px auto 122px;
}

.our-team__header {
    @include display-flex-center-all-colum;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid $golden;
    
    .header_subtitle {
        margin-bottom: 15px;
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.4rem;
        text-transform: uppercase;
        color: $light-gray;
    }
    
    .header_title {
        padding-bottom: 40px;
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 6rem;
        line-height: 6.6rem;
        text-transform: uppercase;
        color: $golden;
    }

    .header_bottom__svg {
        position: absolute;
        text-align: center;
        min-width: 30px;
        top: 137px;
        background: #fff;
    }

}

.profile {
    position: relative;
    @include display-flex-center-all-sb;
    max-width: 1030px;
    min-height: 560px;
    margin: 40px auto 0;

    &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        background-color: $golden;
        top: 0;
        left: 50%;
    }    

    .profile__image {
        position: relative;
        max-width: 430px;
        padding: 15px;
    }

    .profile__image-line {
        position: absolute;
        min-width: 100px;
        min-height: 100px;
    }

    .line--tl {
        top: 0;
        left: 0;
        border-top: 1px solid $golden;
        border-left: 1px solid $golden;
    }

    .line--tr {
        top: 0;
        right: 0;
        border-top: 1px solid $golden;
        border-right: 1px solid $golden;
    }
    .line--bl {
        bottom: 0;
        left: 0;
        border-bottom: 1px solid $golden;
        border-left: 1px solid $golden;
    }
    .line--br {
        bottom: 0;
        right: 0;
        border-bottom: 1px solid $golden;
        border-right: 1px solid $golden;
    }

    &__info {
        max-width: 430px;
        text-align: center;
    }

    &__info__name {
        padding-bottom: 30px;
        position: relative;
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 3.6rem;
        line-height: 4.2rem;
        text-transform: capitalize;
        color: $midle-gray;
    }

    &__info__name::after {
        position: absolute;
        content: '';
        width: 100px;
        height: 1px;
        background-color: $golden;
        bottom: 0;
        left: 38%;
    }

    &__info__position {
        margin: 30px 0 30px;
        font-family: 'Raleway';
        font-size: 2.4rem;
        line-height: 3.6rem;
        text-transform: capitalize;
        color: $midle-gray;
    }

    &__info__social-icons {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: 2px solid $gray;
        border-radius: 50%;
        
        & + & {
            margin-left: 5px;
        }

        .social-icons {
            fill: $gray;
        }

        &:hover {
            border-color: $golden;
            transition: 1s ease;
        }

        &:hover .social-icons {
            fill: $golden;
            transition: 1s ease;
        }
    }

    &__info__text {
        position: relative;
        margin: 49px 0 20px;
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $dark-gray;
    }

    &__info__slider {
        @include display-flex-center-all-sb;
        margin: 0 auto;
        width: 50px;
        height: 4px;
        
        .slider__w10 {
            width: 10px;
            height: 4px;
            background-color: $golden;
        }

        .slider__w20 {
            width: 20px;
            height: 4px;
            background-color: $golden;
        }
    }

    &__info__link {
        @include display-flex-center-all;
        margin: 0 auto;
        margin-top: 25px;
        width: 118px;
        height: 24px;
        border: 1px solid #FFCC00;

        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.4rem;
        text-transform: uppercase;
        color: $midle-gray;

        &:hover {
            color: $golden;
            border-color: $gray;
            transition: .5s ease;
        }

    }
}


