.promises {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1170px;
    margin-top: 150px;

    &__picture__img {
        max-width: 100%;
		width: 100%;
		height: unset;
    }

    &__list {
        position: absolute;
        left: 34.1%;
        display: flex;
        max-width: 770px;
        padding: 6.717% 0 6.717% 6.269%;

        background-color: $white;
        opacity: 0.9;
    }

    &__list-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 70px 100px;
        max-width: 700px;   
    }

    &__list-description {
        max-width: 300px;
    }

    &__list-text {
        @include font-promises-title;
    }

    &__list-link {
        display: flex;
        align-items: center;
    }

    &__link{
        width: 100%;
        padding: 11.044% 0;
        border: 1px solid $middle-gray;
        transition: border .3s ease;

        &:hover {
            border: 1px solid $orange-dark;
        }
    }

    @media screen and (max-width: 1024px) {
        &{
            margin-top: 80px;
        }

        &__list{
            left: 20%;
        }

        &__list-wrapper{
            gap: 25px 50px;
        }
    }

    @media screen and (max-width: 700px) {
        & {
            flex-direction: column;
        }

        &__list{
            padding: 40px 0;
            position: static;
        }

        &__list-wrapper{
            gap: 25px 25px;
        }
    }

    @media screen and (max-width: 540px) {
        &__list {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &__list-wrapper {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}