.reviews {
    margin-top: 150px;
    max-width: 1170px;

    &__info {
      max-width: 400px;  
    }

    &__title {
        @include font-video-title;
        margin-bottom: 20px;
    }

    &__description {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 50px;
    }

    &__bg-left {
        background-image: linear-gradient(0deg, rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)), url(../images/reviews/left.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__bg-center {
        background-image: linear-gradient(0deg, rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)), url(../images/reviews/center.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__bg-end {
        background-image: linear-gradient(0deg, rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)), url(../images/reviews/end.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__description-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 370px;
        padding: 40px 30px;
        min-height: 260px;
    }

    &__description-text {
        @include font-reviews-text;
        max-width: 310px;
        text-align: left;
    }

    &__description-subtext {
        @include font-quote-subtext;
    }

    @media screen and (max-width: 1280px) {
        &__description {
            gap: 15px;
        }
        
        &__description-card {
            width: 100%;
            padding: 20px 15px;
        }

        &__bg-left {
            background-image: linear-gradient(0deg, rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)), url(../images/reviews/left-1.5.webp);
        }
    
        &__bg-center {
            background-image: linear-gradient(0deg, rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)), url(../images/reviews/center-1.5.webp);
        }
    
        &__bg-end {
            background-image: linear-gradient(0deg, rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)), url(../images/reviews/end-1.5.webp);
        }
    }

    @media screen and (max-width: 1024px) {
        margin-top: 100px;
    }

    @media screen and (max-width: 920px) {
        &__description {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__description-card {
            align-items: center;
            
        }

        &__description-text {
            text-align: center;
            font-size: 14px;
        }
    }

    @media screen and (max-width: 700px) {
        &__info {
            margin: 0 auto;
            text-align: center;
        }
    }
}