$black: #000000;
$white: #FFFFFF;
$middle-gray: #E4E4E4;
$light-white: #E5E5E5;
$middle-dark: #262A3F;
$green: #02E0AB;
$middle-green: #53F3CD;
$light-green: #85BBB1;
$orange: #E54F3A;
$light-orange: #F1897B;

