* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    line-height: 10px;
}

body {
    font-family: "Roboto", "sans serif";
    color: #000000;
}

.header {
    padding-bottom: 60px;
    background-color: #ffff;
    z-index: 1;
}

.header--fexed {
    position: fixed;
    top: 0;
    width: 100%;
}

.header__nav {
    margin: 13px auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__button {
    cursor: pointer;
    margin-right: 50px;
    font-family: 'Tourney';
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.8rem;
    letter-spacing: 0.04em;
    background: none;
    border: none;
}

.nav__link {
    text-decoration: none;
    font-family: 'Staatliches';
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.03em;
    color: #000000;
}

.nav__link:hover {
    color: #BDBDBD;
    transition: 0.5s ease;
}

.nav__slash {
    margin: 0 10px;
    font-family: 'Staatliches';
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.03em;
}

